@import url("./reset.css");

:root {
  /* colors */
  --clr-strong-cyan: hsl(172, 67%, 45%);
  --clr-dark-cyan: hsl(183, 100%, 15%);
  --clr-dark-grayish-cyan: hsl(186, 14%, 43%);
  --clr-grayish-cyan: hsl(184, 14%, 56%);
  --clr-light-grayish-cyan: hsl(185, 41%, 84%);
  --clr-very-light-grayish-cyan: hsl(189, 41%, 97%);
  --clr-white: hsl(0, 0%, 100%);

  /* font family */
  --ff-mono: "Space Mono", monospace;

  /* font sizes */
  --fs-13: 0.8125rem;
  --fs-16: 1rem;
  --fs-20: 1.25rem;
  --fs-24: 1.5rem;
  --fs-32: 2rem;
  --fs-48: 3rem;

  /* spacing */
  --space-6: 0.25rem;
  --space-8: 0.5rem;
  --space-16: 1rem;
  --space-32: 2rem;
  --space-40: 2.5rem;
  --space-48: 3rem;
  --space-56: 3.5rem;
  --space-88: 5.5rem;
}

body {
  font-family: var(--ff-mono);
  font-size: var(--fs-24);
  font-weight: 700;
  background-color: var(--clr-light-grayish-cyan);
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--space-40);
  margin-top: var(--space-48);

  @media (min-width: 768px) {
    margin-top: 10rem;
    gap: var(--space-56);
  }
}

h1,
h2,
h3,
h4 {
  font-size: var(--fs-16);
  color: var(--clr-dark-grayish-cyan);
  margin-bottom: var(--space-6);
}

input,
select {
  border: none;
  outline: none;
  background-color: var(--clr-very-light-grayish-cyan);
  text-align: right;
  border-radius: 5px;
  color: var(--clr-dark-cyan);
  padding: var(--space-6) var(--space-16);
}

input[type="radio"] {
  display: none;
}

input[name="tip-percentage-custom"] {
  width: 100%;
}

.percentages input[type="radio"] + label {
  cursor: pointer;
  background-color: var(--clr-dark-cyan);
  color: var(--clr-white);
  text-align: center;
  width: 100%;
  padding-block: var(--space-8);
  border-radius: 0.3rem;
}

.main-container {
  display: flex;
  flex-direction: column;
  background-color: var(--clr-white);
  padding: var(--space-32);
  border-radius: 1.5rem 1.5rem 0 0;
  gap: var(--space-32);
  max-width: 920px;

  @media (min-width: 768px) {
    flex-direction: row;
    padding: var(--space-32);
    gap: var(--space-48);
    border-radius: 1.5rem;
  }
}

.calc-section {
  display: flex;
  flex-direction: column;
  gap: var(--space-32);
}

.number-input {
  position: relative;
}

.number-input img {
  position: absolute;
  top: 50%;
  left: var(--space-16);
  transform: translateY(-50%);
}

.tip-container h2 {
  margin-bottom: var(--space-16);
}

.percentages {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-items: center;
  gap: var(--space-16);

  @media (min-width: 768px) {
    grid-template-columns: repeat(3, 1fr);
  }
}
